<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Boggle!</h1>
    <h3>Enter a word and press the button to guess a word. <br> If the word is real and on the board, then you get a point for each letter!<br>
        If not, then you will be told it's not a word, or not on the board. Each game is 60 seconds long.
        <br> Enjoy!</h3>
        
    <form action="/play"><button>Start Game</button></form>

    
</body>
</html>